@import "vars";

	



/*==========  Desktop First  ==========*/
// ≥1400px
@include media-breakpoint-down(lg) {
	.header-right__img{
		img{
			width: 90%;
		}
	}
	.header-right h4.first {
		bottom: 140px;
	}
	.header-right h4.second {
		right: 20%;
	}
	.projects-first{
		top: 60px;
		left: 80px;
	}
	.projects-second {
		bottom: 20px;
		right: 20px;
	}
	.project_left-fondue {
		grid-column: span 16;
		align-self: center;
	}
	.fondue__img {
		top: 10%;
	}
	.fondue-left .heart-icon {
		margin-top: 30px;
		margin-left: 68px;
	}
	.p22__img{
		width: 55%;
		top: 90px;
		left: 80px;
	}
	.p22__content {
		margin-left: 300px;
		margin-top: 60px;
	}
	.potter__img {
		position: absolute;
		width: 40%;
		top: 70px;
		bottom: 5px;
		left: 50%;
		right: 5px;
	}
	.tabano__img {
		width: 40%;
		margin: 0 auto;
	}
	.tabano__content{
		flex-direction: column;
		text-align: center; 
		align-items: center;
		h4 {
			margin: 0;
		}
	}
	.fiji__img {
		position: absolute;
		top: 40px;
		width: 45%;
		left: 5%;
		right: 30%;
	}
	.fiji__content {
		margin-top: 10px;
		margin-left: 50%;
	}
	#navigation {
		right: 260px;
	}
	.hamburger {
		right: 140px;
	}


}

// ≥1100px
@include media-breakpoint-down(md) {
	#sidebar {
		width: 500px;
		right: -510px;
		top: 10px;
	}
	.active-btn {
		position: absolute;
		background-image: url('../img/close.png');
		background-size: contain;
		right: 120px;
		left: 510px;
	}
	#sidebar .toggle-btn {
		right: 520px;
		top: 0px;
		background-image: url('../img/cube.png');
		background-color: darken(#F2F2F1, 20%);
	}
	.header-left {
		grid-column: span 24; 
		.logo-img {
			right: 50px;
			width: 350px;
		}
	}
	.header-right {
		display: none;
	}
	.project_left {
		grid-column: span 24;
	}
	.project_right {
		grid-column: span 24;
		grid-template-rows: none;
	}
	.project_right-tabano {
		grid-row: none;
	}
	.project_right-potter {
		grid-row: none;
	}
	.project_right-fiji {
		grid-row: none;
	}
	.project_bottom-timeline {
		display: none;
	}
	.projects-second{
		bottom: 30px;
		right: 10px;
	}
	.fondue-left {
		margin-top: 20px;
		margin-left: 103px;
	}
	.p22__img{
		width: 50%;
		top: 40px;
		left: 80px;
	}
	.project_right-potter {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.potter__img {
		width: 40%;
		top: 200px;
		bottom: 10px;
		left: 50%;
		right: 5px;
	}
	.tabano__content {
		h4 {
			margin-right: 0;
		}
	}
	.project_right-fiji {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		.fiji__content {
			margin: 0;
			margin-top: 20px;
		}
		.fiji__img {
			position: absolute;
			top: 60%;
			bottom: 0;
			width: 50%;
			left: 20%;
			right: 30%;
		}
	}
	.project_bottom-sesann {
		grid-column: span 18;
	}
	.studio {
		padding-top: 20px;
	}
	.studio-logo {
		img{
			height: 40%;
		}
	}
	.member-card {
		width: 270px;
		margin: 0 auto 20px;
	}
	.studio_second-part {
		display: flex;
		justify-content: space-between;
	}
	.news {
		padding-top: 0;
		.card__title {
			height: 72px;
		}
		.card__desc {
			height: 98px;
		}
	}
	.footer {
		padding: 0;
		.footer__logo {
			margin: 0 auto;
			.footer-socials {
				margin-bottom: 40px;
				margin-top: 20px;
			}
		}

	}
	#navigation {
		position: absolute;
		background-color: #f8c255;
		top: 10px;
		width: 600px;
		height: 120px;
		left: 140px;
		z-index: 231;
	}
	.hamburger {
		position: absolute;
		top: 10px;
		z-index: 23123;
		left: 20px;
		max-width: 124px;
		height: 119px;
		border: 1px solid #fff;
	}
	.hamburger-inner::after, .hamburger-inner, .hamburger-inner::before{
		background-color: #666;
	}
}


// ≥768px
@include media-breakpoint-down(sm) {
	#navigation {
		width: 450px;

	}
	.header__logo {
		width: 25%;
	}
	.header-left > .logo-img {
		width: 300px;

	}
	.projects-first{
		top: 20px;
		left: 40px;
	}
	.projects-second {
		transform: rotate(-50deg);
		bottom: 40px;
		right: 10px;
	}
	.fondue-left {
		margin-top: 30px;
		margin-left: 30px;
		z-index: 2;
	}
	.louis__content {
		top: 5px;
		left: 5px;
	}
	.louis__content h4 {
		margin-top: 5px;
		margin-bottom: 10px;
	}
	.p22__img {
		width: 35%;
		top: 25%;
		left: 10px;
	}
	.p22__content {
		margin-left: 170px;
		margin-top: 50px;
	}
	.potter__content {
		.heart-icon {
			margin: 20px 0 0 0;
		}
	}
	.tabano__img {
		width: 40%;
		margin: 0 auto;
	}
	.sesann__content {
		margin-top: 150px;
		& h4 {
			margin-right: 20px;
		}
		& .view {
			margin-right: 20px;
		}
	}
	.alessi__content {
		margin-top: 10px;
		margin-left: 35%;
		& h4 {
			margin-bottom: 10px;
		}
		& .view {
			margin-left: -29px;
		}
		& .heart-icon {
			margin: 10px 20px 0;
		}
	}
}


// ≥576px
@include media-breakpoint-down(xs) {
	.hamburger {
		width: 80px !important;
		top: 0;
		left: 10px;
		height: 60px;
		border: none !important;
	}
	#navigation {
		width: 230px;
		height: 60px;
		left: 90px;
	}
	#navigation ul {
		margin-top: 0;
		.navigation-link {
			font-size: 9px;
		}
	}
	.header-left {
		padding: 75px 0 0 10px;
	}
	.header-socials {
		margin-left: 0;
		margin-top: 10px;
		font-size: 12px;
	}
	.header-left > .logo-img {
		position: absolute;
		top: 75px;
		right: 1px;
		bottom: 0;
		left: 40%;
		width: 200px;
	}
	.project_left-projects {
		grid-column: span 24;
	}
	.triagles {
		padding-top: 50%;
	}
	.projects-first {
		position: absolute;
		top: 70px;
		left: 42%;
		bottom: 200px;
	}
	.projects-second {
		position: relative;
		bottom: 10px;
		right: 0;
		transform: rotate(0deg);
		text-align: center;
		margin: 0 auto;
	}
	.project_left-fondue {
		grid-column: span 24;
		.fondue__img {
			top: 100px;
		}
	}

	.project_left-louis {
		grid-column: span 24;
		height: 350px;
		.louis__content {
			top: 30px;
			left: 30px;
		}
	}
	.project_left-p22 {
		grid-column: span 24;
		min-height: 300px;
		.p22__content {
			margin-left: 20px;
			margin-top: 50px;
			flex-direction: column;
			.heart-icon {
				margin-right: 90%;
			}
		}
		.p22__img {
			top: 30%;
			right: 5px;
			bottom: 0;
			left: 48%;
			margin: 20px 0 ;
			width: 50%;
		}
	}
	.project_right {
		grid-template-columns: repeat(24, 1fr)
	}
	.project_right-potter {
		display: none;
	}
	.project_right-tabano {
		grid-column: span 24;
	}
	.project_right-fiji {
		display: none;
	}
	.project_bottom-sesann {
		grid-column: span 24;
		.sesann__img {
			width: 70%;
			margin: 0 auto;
		}
		.sesann__content {
			& h4 {
				margin-right: 5px;
			}
			& .view {
				margin-right: 5px;
				width: 70px;
			}
		}
	}
	.project_bottom-alessi {
		grid-column: span 24;
	}
	.footer {
		padding-top: 210px;
	}
	.footer__logo {
		margin-left: 0;
		
		img {
			width: 70px;
		}
	}

	.studio-logo {
		img {
			height: 272px;
			width: 100%;
		}
	}
	.news-logo {
		img {
			height: 272px;
			width: 100%;
		}
	}
	iframe {
		width: 100%;
		height: 200px;
		border: 0;
	}
	.triagles::before {
		width: 0;
	}
	.studio_first-part {
		margin-top: 280px;
		img {
			margin: 0 auto;
		}
	}
	
	.news_first-part {
		padding-top: 280px;
	}
	.news__top-card {
		text-align: center;
		img {
			margin: 0 auto;
		}
	}
	.footer__logo {
		margin: 0 auto;
		text-align: center;
		img {
			margin: 10px auto 10px;
			width: 70%;
		}
		.footer-socials {
			margin: 0 auto;
		}
	}
}



 