@import "vars";


@media (min-width: 1201px) and (max-width: 1400px) {
	
}
	



/*==========  Desktop First  ==========*/
// ≥1400px
@include media-breakpoint-down(lg) {
	.header-right__img{
		img{
			width: 90%;
		}
	}
	.header-right h4.first {
		bottom: 140px;
	}
	.header-right h4.second {
		right: 20%;
	}
	.projects-first{
		top: 60px;
		left: 80px;
	}
	.projects-second {
		top: 80%;
		bottom: 100px;
		left: 70px;
	}
	.project_left-fondue {
		grid-column: span 16;
		align-self: center;
	}
	.fondue__img {
		top: 10%;
	}
	.fondue-left .heart-icon {
		margin-top: 30px;
		margin-left: 68px;
	}
	.p22__img{
		width: 55%;
		top: 90px;
		left: 80px;
	}
	.p22__content {
		margin-left: 300px;
		margin-top: 60px;
	}
	.potter__img {
		position: absolute;
		width: 40%;
		top: 120px;
		bottom: 5px;
		left: 50%;
		right: 5px;
	}
	.tabano__content{
		flex-direction: column;
		text-align: center; 
	}
	.fiji__img {
		position: absolute;
		top: 40px;
		width: 45%;
		left: 5%;
		right: 30%;
	}
	.fiji__content {
		margin-top: 10px;
		margin-left: 50%;
	}
	#navigation {
		right: 260px;
	}
	.hamburger {
		right: 140px;
	}


}

// ≥1100px
@include media-breakpoint-down(md) {
	#sidebar {
		width: 500px;
		right: -510px;
		top: 10px;
	}
	.active-btn {
		position: absolute;
		background-image: url('../img/close.png');
		background-size: contain;
		right: 120px;
		left: 510px;
	}
	#sidebar .toggle-btn {
		right: 520px;
		top: 0px;
		background-image: url('../img/cube.png');
		background-color: darken(#F2F2F1, 20%);
	}
	.header-left {
		grid-column: span 24; 
		.logo-img {
			right: 50px;
			width: 350px;
		}
	}
	.header-right {
		display: none;
	}
	.project_left {
		grid-column: span 24;
	}
	.project_right {
		grid-column: span 24;
		grid-template-rows: none;
	}
	.project_right-tabano {
		grid-row: none;
	}
	.project_right-potter {
		grid-row: none;
	}
	.project_right-fiji {
		grid-row: none;
	}
	.project_bottom-timeline {
		display: none;
	}
	.projects-second{
		top: 200px;
		left: 50px;
	}
	.fondue-left {
		margin-top: 20px;
		margin-left: 103px;
	}
	.p22__img{
		width: 50%;
		top: 40px;
		left: 80px;
	}
	.project_right-potter {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.potter__img {
		width: 40%;
		top: 200px;
		bottom: 10px;
		left: 50%;
		right: 5px;
	}
	.tabano__content {
		h4 {
			margin-right: 0;
		}
	}
	.project_right-fiji {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		.fiji__content {
			margin: 0;
			margin-top: 20px;
		}
		.fiji__img {
			position: absolute;
			top: 60%;
			bottom: 0;
			width: 50%;
			left: 20%;
			right: 30%;
		}
	}
	.project_bottom-sesann {
		grid-column: span 18;
	}
	.studio {
		padding-top: 20px;
	}
	.member-card {
		width: 270px;
		margin: 0 auto 20px;
	}
	.studio_second-part {
		display: flex;
		justify-content: space-between;
	}
	.news {
		padding-top: 0;
		.card__title {
			height: 72px;
		}
		.card__desc {
			height: 98px;
		}
	}
	.footer {
		padding: 0;
		.footer__logo {
			margin: 0 auto;
			.footer-socials {
				margin-bottom: 40px;
				margin-top: 20px;
			}
		}

	}
	#navigation {
		position: absolute;
		background-color: #f8c255;
		top: 10px;
		width: 600px;
		height: 120px;
		left: 140px;
		z-index: 231;
	}
	.hamburger {
		position: absolute;
		top: 10px;
		z-index: 23123;
		left: 20px;
		max-width: 124px;
		height: 119px;
		border: 1px solid #fff;
	}
	.hamburger-inner::after, .hamburger-inner, .hamburger-inner::before{
		background-color: #666;
	}
}


// ≥768px
@include media-breakpoint-down(sm) {

}

// ≥576px
@include media-breakpoint-down(xs) {

}



 