@import "vars";


@media (min-width: 1201px) and (max-width: 1400px) {
	
}
	



/*==========  Desktop First  ==========*/
// ≥1400px
@include media-breakpoint-down(lg) {
	.header-right__img{
		img{
			width: 90%;
		}
	}
	.header-right h4.first {
		bottom: 140px;
	}
	.header-right h4.second {
		right: 20%;
	}
	.projects-first{
		top: 60px;
		left: 80px;
	}
	.projects-second {
		top: 80%;
		bottom: 100px;
		left: 70px;
	}
	.project_left-fondue {
		grid-column: span 16;
		align-self: center;
	}
	.fondue__img {
		top: 10%;
	}
	.fondue-left .heart-icon {
		margin-top: 30px;
		margin-left: 68px;
	}
	.p22__img{
		width: 55%;
		top: 90px;
		left: 80px;
	}
	.p22__content {
		margin-left: 300px;
		margin-top: 60px;
	}
	.potter__img {
		position: absolute;
		width: 40%;
		top: 120px;
		bottom: 5px;
		left: 50%;
		right: 5px;
	}
	.tabano__content{
		flex-direction: column;
		text-align: center; 
	}
	.fiji__img {
		position: absolute;
		top: 40px;
		width: 45%;
		left: 5%;
		right: 30%;
	}
	.fiji__content {
		margin-top: 10px;
		margin-left: 50%;
	}


}

// ≥1100px
@include media-breakpoint-down(md) {
	
}

// ≥768px
@include media-breakpoint-down(sm) {

}

// ≥576px
@include media-breakpoint-down(xs) {

}



 