@import "vars";
@import "fonts";
@import "libs";


iframe {
	width: 50%;
	height: 100%;
	border: 0;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	margin: 0;
	padding: 0;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
}
h4 {
	line-height: 14px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: normal;
}
h3 {
	line-height: 14px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
}
.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}
small{
	font-size: 11px;
	color: #ff0000;
	text-transform: uppercase;
}

.text-center {
	text-align: center;
}
b, strong {
	font-weight: bold;
}
.grid {
	display: grid;
}
.flex {
	display: flex;
}
.header {
	grid-template-columns: repeat(24, 1fr);
}
.header__logo {
	margin-right: 100px;
}
.header-left {
	grid-column: span 18;
	display: flex;
	justify-content: space-between;
	background-color: #F3F3F3;
	padding: 50px 0 0 168px;
	max-height: 500px;
	position: relative;

	&:after {
		content: '\A';
		position: absolute;
		width: 100% ;
		height: 100%;
		top: 0 ;
		left: 0;
		background-color: rgba(233,234,226, .1);
		opacity: 1;
		
	}
}
.header-left div {
	max-height: 400px;
}
.header-left > .logo-img {
	position: absolute;
	top: 50px;
	right: 100px;
	bottom: 0;
	left: 50%;
	width: 400px;

}


.header-socials {
	margin-left: 20px;
	margin-top: 62px;
}
.header-socials a {
	color: #7acec3;
}
.header-left h4 {
	font-size: 18px;
	line-height: 18px;
}
.header-right {
	grid-column: span 6;
	background-color: #7acec3;
	position: relative;
	width: 100%;
	height: 100%;
}
.header-right__img{
	position: absolute;
	top: 50px;
	right: 40%;
	left: 20%;
}
.triagles {
	position: relative;
	padding-top: 100%;
}
.triagles::before {
  content: '';
  position: absolute;
  left: 0;
  top:0;
  right: 0;  
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"><line x1="0" y1="100%" x2="100%" y2="0" stroke="#fff" stroke-width="2"/></svg>');
  background-size: cover;
  opacity: .5;
}
.header-right h4.first {
	color: #fff;
	position: absolute;
	bottom: 120px;
	left: 7%;
}
.header-right h4.second {
	color: #fff;
	position: absolute;
	bottom: 50px;
	right: 30%;

}

.project {
	grid-template-columns: repeat(24, 1fr);
}
.project_left {
	grid-template-columns: repeat(24, 1fr);
	grid-column: span 18;
}
.project_left-projects {
	grid-column: span 8;
	background-color: #ebb240;
	position: relative;
}
.projects-first{
	display: flex;
	align-items: flex-start;
	position: absolute;
	top: 100px;
	left: 120px;
}
.projects-first > img {
	margin-right: 9px;
}
.projects-first h4 {
	color: #fff;
}


// arrow-hover 
.projects-first {
	a {
		transition: all .25s ease;
		color: #fff;
		text-decoration: none;
		position: relative;
		&:before {
			content: '';
			background-image: url('../img/arrow_icon.svg');
			background-position: center center;
			background-size: cover;
			width: 23px;
			height: auto;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: -30px;
			opacity: 0;
		}
	}
	.first-link-arrow:hover, .second-link-arrow:hover, .third-link-arrow:hover, .fourth-link-arrow:hover, .fifth-link-arrow:hover {
		color: #333;
		font-weight: 700;
		&:before {
			opacity: 1;
		}
	}
}
// end arrow-hover

.projects-second {
	position: absolute;
	top: 300px;
	left: 160px;
}
h2 {
	font-size: 48px;
	color: #fff;
	font-weight: normal;
	text-transform: uppercase;
}
.project_left-fondue {
	grid-column: span 16;
	max-height: 450px;
	background-color: #FEFEFE;
	position: relative;
}
.project_left-fondue .fondue__img {
	max-height: 450px;
	position: absolute;
	right: 0;
	left: 60%;
}
.fondue-flex {
	display: flex;
	justify-content: space-between;
}
.fondue-left {
	margin-top: 87px;
	margin-left: 103px;
}
.fondue-left h4 {
	margin-top: 17px;
	margin-bottom: 76px;
}
a.view {
	font-size: 18px;
	font-weight: 200;
	color: #333;
	text-transform: uppercase;
	text-decoration: none;
	transition: all .25s ease;
}
a.view:hover {
	color: lighten(#333, 40%);
}
a.view img {
	padding-right: 8px;
}
.heart-icon {
	width: 26px;
	text-align: center;
	cursor: pointer;
	transition: all .25s ease;
}
.heart-icon:hover {
	transform: scale(1.1)
}

.fa-heart {
	color: #333;
	font-size: 23px;
}
.fondue-left .heart-icon {
	margin-top: 100px;
	margin-left: 68px;
}
.project_left-louis {
	grid-column: span 6;
	position: relative;
	background-color: #66757F;
}

.louis__img{ 
	position: relative;
	top: 0;	
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.louis__content {
	position: absolute;
	top: 40px;
	left: 32px;
	color: #fff;
}
.louis__content h4 {
	margin-top: 18px;
	margin-bottom: 38px;
}
.louis__content a.view {
	color: #fff;
}
.louis__content a.view:hover {
	color: darken(#fff, 30%);
}
.louis__content .heart-icon {
	margin-left: 68px;
}
.louis__content .heart-icon .fa-heart {
	color: #fff;
	margin-top: 30px;
}

.louis__content .heart-icon small {
	color: #fe7c7c;
}
.project_left-p22 {
	grid-column: span 18;
	background-color: #eaeaea;
	position: relative;
}
.p22__img{
	width: 52%;
	position: absolute;
	top: 70px;
	left: 115px;
	right: 0;
	z-index: 0;
}
.p22__content {
	display: flex;
	margin-left: 360px;
	margin-top: 92px;
	position: relative;
	z-index: 1;
}
.p22__content-left {
	margin-right: 16px;
}
.p22__content-left h4 {
	margin-top: 16px;
}
.p22__content-right .heart-icon {
	margin: 25px auto;
}
.project_right {
	grid-template-rows: repeat(24, 1fr);
	grid-column: span 6;
}
.project_right-potter {
	grid-row: span 6;
	padding: 15px 10px 5px 25px;
	background-color: #dfe0d9;
	position: relative;
}
.potter__img {
	position: absolute;
	width: 50%;
	top: 10px;
	left: 50%;
	right: 10px;
}
.potter__content {
	width: 170px;
}
.potter__content h4 {
	text-transform: none;
	margin: 13px 0 10px;
}
.potter__content .heart-icon {
	margin: 15px auto 0;
}
.project_right-tabano {
	grid-row: span 12;
	background-color: #e9eae2;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	position: relative;
	max-height: 450px;
}
.tabano__content{ 
	align-items: center;
	margin: 70% 5px 0;
}
.tabano__img {
	position: absolute;
	left: 25%;
	right: 20%;
	top: 20px;
	bottom: 60%;
}


.tabano__content-text h4{
	margin-top: 17px;
	margin-right: 24px;
}
.tabano__content a.view {
	margin-right: 15px;
}
.project_right-fiji {
	grid-row: span 6;
	position: relative;
}
.fiji__img {
	position: absolute;
	top: 20px;
	width: 50%;
	left: 5%;
	right: 30%;
}
.fiji__content {
	margin-left: 60%;
	margin-top: 10%;
}
.fiji__content h4 {
	margin: 8px 0 15px;
}
.fiji__content .heart-icon {
	margin: 16px auto 0;
}
.project_bottom {
	grid-template-columns: repeat(24, 1fr);
	min-height: 300px;

}
.project_bottom-sesann{
	grid-column: span 12;
	background-color: #fcfcfc;
	position: relative;
}
.sesann__img {
	position: absolute;
	left: 20%;
	right: 20%;
	top: 20px;
}
.sesann__content {
	margin-top: 203px;
	justify-content: center;
	align-items: center;
	& h4 {
		margin-right: 50px;
	}
	& .view {
		margin-right: 50px;
	}
}
.project_bottom-alessi{
	grid-column: span 6;
	background-color: #cecece;
	position: relative;	
}
.alessi__img {
	position: absolute;
	top: 60px;
	left: 0;
	right: 60%;
}
.alessi__content {
	margin-top: 80px;
	margin-left: 40%;
	padding-left: 20px;
	& h4 {
		margin-bottom: 32px;
	}
	& .view {
		margin-left: -29px;
	}
	& .heart-icon {
		margin: 25px 35px 0;
	}
}
.project_bottom-timeline{
	grid-column: span 6;
	background-color: #ebb240;
	position: relative;
	h3 {
		font-size: 14px;
		margin-left: 28px;
	}
}
.timeline__line {
	width: 275px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	&.triagles::after {
		height: 300px;
	}
}
.timeline__content {
	margin-top: 61px;
	margin-left: 16%;

}
.timeline__content-years {
	align-items: flex-start;
	color: #fff;
	img {
		margin-right: 9px;
	}
}
.studio-logo {
	img{
		position: absolute;
		width: 25%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	
}
.studio {
	background-color: #E9EAE2;
	padding: 94px 0 50px;
	position: relative;
	.studio_first-part{
		.studio__text-first {
			font-size: 18px;
			line-height: 18px;
		}	
		.studio__text-second {
			font-size: 18px;
			line-height: 16px;
		}
		.last-child {
			margin-bottom: 40px;
		}
		.studio-awards {

			.awards-title {
				font-size: 14px;
				font-weight: bold;
				margin: 44px 0 29px 5px;
				padding-bottom: 4px;
				border-bottom: 1px solid #BFC0B9;
			}
			.awards-desc {
				text-transform: uppercase;
				line-height: 14px;
				font-size: 12px;
			}
		}
	}
	.studio_second-part {
		margin-top: 129px;
		.staff {
			.staff__title {
				font-size: 14px;
				font-weight: bold;
				margin-bottom: 20px;
			} 
			.staff__desc {
				font-size: 12px;
				line-height: 18px;
			}
		}
		.member-card {
			.member__name {
				font-size: 13px;
				font-weight: bold;
				text-transform: uppercase;
				margin-top: 18px;
				line-height: 16px;
			}
			.member__position {
				font-size: 12px;
				text-transform: uppercase;
				line-height: 16px;
				margin-bottom: 19px;
			}
			.member__cv {
				a {
					color: #fd5000;
					text-decoration: none;
					&:hover {
						color: lighten(#fd5000, 15%);
					}
				}

			}
			.member__socials {
				display: flex;
				justify-content: space-between;
				a {
					color: #fd5000;
					&:hover {
						color: lighten(#fd5000, 15%);
					}
				}
			}
		}
	}
}
.news-logo {
	img{
		position: absolute;
		width: 25%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
.news {
	position: relative;	
	background-color: #e5e9df;
	padding-top: 80px;
	padding-bottom: 64px;
	.news__top-card {
		.card__title {
			font-size: 24px;
			line-height: 24px;
			font-weight: bold;
			text-transform: uppercase;
			color: #333;
			min-height: 45px;
			margin-bottom: 0;
		}
		.card__date {
			font-size: 12px;
			line-height: 24px;
			color: #6a6969;
			margin-bottom: 18px;
			display: block;
		}
		.card__desc {
			text-align: justify;
			color: #6a6969;
			line-height: 14px;
			min-height: 55px;
			margin: 22px 0 9px;
			font-size: 12px;
		}
		.card__link {
			text-align: right;
			font-size: 12px;
			text-transform: uppercase;
			a {
				color: #fd5000;
				text-decoration: none;
				&:hover {
					color: lighten(#fd5000, 20%);
				}
			}
		}
	}
}
.footer-map {
	iframe{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
.footer {
	padding-top: 150px;
	position: relative;
	background-color: #e5e9df;
	.footer__logo {
		margin-left: 90px;
	}
	.footer__text-right {
		font-size: 13px;
		line-height: 14px;
		text-transform: uppercase;
	}
	.footer-socials {
		margin-left: 20px;
		margin-top: 62px;
		margin-bottom: 82px;
	}
	.footer-socials a {
		color: #7acec3;
	}
	h4 {
		font-size: 18px;
		line-height: 18px;
	}
	p {
		font-size: 12px;
		text-align: center;
		margin-bottom: 30px;
	}


}

// Menu

// #sidebar {
// 	width: 750px;
// 	height: 120px;
// 	background-color: #f8c255;
// 	position: fixed;
// 	right: -760px;
// 	top: 10px;
// 	padding-bottom: 10px;
// 	border-radius: 10px;
// 	-moz-transition: all 600ms ease;
// 	-webkit-transition: all 600ms ease;
// 	transition: all 600ms ease;
// 	z-index: 214124;
// }

// #sidebar.active {
// 	right: 150px;
// }	
// #sidebar ul {
// 	display: flex;
// 	justify-content: space-around;
// 	margin-top: 30px;
// 	padding: 0;
// }
// #sidebar ul li {
// 	list-style: none;
// 	font-size: 18px;
// 	text-transform: uppercase;
// 	padding: 15px 10px;
// }
// #sidebar ul li a {
// 	color: #eee;
// 	text-decoration: none;
// }
// #sidebar ul li a:hover{color: #333;}

// #sidebar .toggle-btn {
// 	position: absolute;
// 	right: 770px;
// 	top: 0px;
// 	background-image: url('../img/cube.png');
// 	background-color: darken(#7acec3, 32%);
// 	background-size: cover;
// 	width: 125px;
// 	height: 120px;
// 	padding: 10px;
// 	cursor: pointer;
// 	opacity: .4;
// 	transition: all .5s ease;
// 	&:hover {
// 		opacity: 1;
// 	}
// }
// .active-btn {
// 	position: absolute;
// 	background-image: url('../img/close.png');
// 	background-size: contain;
// 	right: 120px;
// 	left: 760px;
// 	top: 0px;
// 	width: 125px;
// 	height: 120px;
// 	padding: 10px;
// 	border-radius: 10px;
// 	cursor: pointer;
// 	transition: all .25s ease;
// 	&:hover {
// 		transform: rotate(2deg);
// 	}
// }

//btn-menu
	.hamberger-inner{
	
	} 
	.opacity-0{
		display: none;
		opacity: 0;
	}
	.opacity-1 {
		display: block;
		opacity: 1;
	} 
	#navigation {
		transition: all .5s ease;
		position: absolute;
		background-color: #f8c255;
		top: 50px;
		width: 750px;
		height: 120px;
		right: 290px;
		z-index: 231;
	}
	.hamburger {
		position: absolute;
		top: 50px;
		z-index: 23123;
		right: 170px;
		width: 124px;
		height: 119px;
		border: 1px solid #fff;
	}
	.is-active {
		background-color: #f8c255;
	}
	#navigation ul {
		display: flex;
		justify-content: space-around;
		margin-top: 30px;
		padding: 0;
	}
	#navigation ul li {
		list-style: none;
		font-size: 18px;
		text-transform: uppercase;
		padding: 15px 10px;
	}
	#navigation ul li a {
		color: #eee;
		text-decoration: none;
	}
	#navigation ul li a:hover{color: #333;}

@import "media"; // Always at the end
