@import "vars";
@import "fonts";
@import "libs";



body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	margin: 0;
	padding: 0;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
}
h4 {
	line-height: 14px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: normal;
}

.img-responsive {
	display: block;
	max-width: 100%;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}
b, strong {
	font-weight: bold;
}
.grid {
	display: grid;
}
.header {
	grid-template-columns: repeat(24, 1fr);
}
.header__logo {
	margin-right: 100px;
}
.header-left {
	grid-column: span 18;
	display: flex;
	justify-content: space-between;
	background-color: #E9EAE2;
	padding: 50px 0 0 168px;
	max-height: 500px;
}
.header-left div {
	max-height: 400px;
}
.header-left > div img {
	max-height: 100%;
	margin-right: 150px;
}

.header-socials {
	margin-left: 20px;
	margin-top: 62px;
}
.header-socials a {
	color: #7acec3;
}
.header-left h4 {
	font-size: 18px;
	line-height: 18px;
}
.header-right {
	grid-column: span 6;
	background-color: #7acec3;
	position: relative;
	width: 100%;
	height: 100%;
}
.header-right > img {
	position: absolute;
	top: 50px;
	right: 40%;
}
.triagles {
	position: relative;
	padding-top: 100%;
}
.triagles::after {
  content: '';
  position: absolute;
  left: 0;
  top:0;
  right: 0;  
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"><line x1="0" y1="100%" x2="100%" y2="0" stroke="#fff" stroke-width="2"/></svg>');
  background-size: cover;
  opacity: .5;
}
.header-right h4.first {
	color: #fff;
	position: absolute;
	top: 250px;
	left: 7%;
}
.header-right h4.second {
	color: #fff;
	position: absolute;
	top: 373px;
	right: 30%;
}
.project {
	grid-template-columns: repeat(24, 1fr);
}
.project_left {
	grid-template-columns: repeat(24, 1fr);
	grid-column: span 18;
}
.project_left-projects {
	grid-column: span 8;
	background-color: #ebb240;
	position: relative;
}
.projects-first{
	display: flex;
	align-items: flex-start;
	position: absolute;
	top: 100px;
	left: 120px;
}
.projects-first > img {
	margin-right: 9px;
}
.projects-first h4 {
	color: #fff;

}
.projects-first h4 b {
	color: #000;
}
.projects-second {
	position: absolute;
	top: 250px;
	left: 180px;
}
.projects-second h2{
	font-size: 48px;
	color: #fff;
	font-weight: normal;
}
.project_left-fondue {
	grid-column: span 16;
}


@import "media"; // Always at the end
